@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Kanchenjunga:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
main {
    width: 1130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
section .mathList{
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    
}
section .mathList button {
    background-image: url(../assets/Border.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    width: 100px;
    height: 100px;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size:12pt;
    font-weight: bold;
    
    
}
.selectMath{
    color: #000;
}
section .skinAndMap{
    width: 700px;
    height: 200px;
}
section .play{
    width: 700px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section .play button{
    width: 180px;
    height: 60px;
    background-image:url(../assets/PlayStone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.skinAndMap{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.skin{
    width: 140px;
    height: 160px;
    background-image:url(../assets/skinBorder.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.skinBox img{
    width: 80px;
    height: 90px;
}
.skinBox p{
    height: 30px;
    line-height: 30px; 
    font-family: "Press Start 2P", cursive;
    color: white;
    font-size: 8pt;
}
.mapList{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
}
.map{
    background-image:url(../assets/Border.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    width: 160px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
.map img{
    width: 126px;
    height: 76px;
}
.statistics{
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../assets/statisticsBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    position: absolute;
    top: 0;
    margin-top: 80px;
}
